

<div id="sliders">
	<ul class="departments">
	<% @data.departments.each do |department| %>
	<li class = "<%= department.title %>">
		<div  class = "department"><a href="#"><%= department.title %></a></div>
			<ul class = "courses" >
				<% department.courses.each do |course| %>
				<li class= "<%= course.title %>">
					<div  class = "course"><a class = "course" href="#"><%= course.title %></a></div>
					<ul class="sections <%= course.title %>">
					<% course.sections.each do |section| %>
						<li class="section"><a href="#"><%= section.crn %></a></li>
					<% end %>
					</ul>
				</li>
			 <% end %>
			</ul>
		</li>
	<% end %>
	</ul>
</div>
