<div id = titles>
    <div>Departments</div><div>Courses</div><div>Sections</div>
</div>
<div id='searchboxes'>
    <div class='search_wrapper'><input type='text' id='departments-search' /><img class='triangle_down' src="/images/triangle_down.png" alt="triandle_down" /></div>
    <div class='search_wrapper'><input type='text' id='courses-search' /><img class='triangle_down' src="/images/triangle_down.png" alt="triandle_down" /></div>
    <div class='search_wrapper'><div class='search_filler'></div><img class='triangle_down' src="/images/triangle_down.png" alt="triandle_down" /></div>
</div>


<div id="sliders">
    <ul id="departments">
		<% @data.departments.each do |department| %>
            <li class = "department <%= department.title %>">
				<a  href="#" class = "department-title"><%= department.title %></a>
				<ul class = "courses" >
                    <% department.courses.each do |course| %>
						<li class= "course <%= course.title %>">
							<a  href="#" class = "course-title"><span class="course_number"><%= course.courseNumber %>:</span> <%= course.title %></a>
							<ul id="sections">
                                <% course.sections.each do |section| %>
									<li class="section" rel='<%= section.crn %>'>
                                        <span class='section_text'>
                                            <% if section.time.tba == true %>
                                                <span class='time'>Time TBA</span>
                                            <% else %>
                                                <span class='days'><%= section.time.prettyDays %>:</span> <span class='time'><%= section.time.prettyTime %></span>
                                            <% end %>
                                            <br/><span class='instructor'><%= section.instructor %></span><span class='crn'>
											<%= section.crn %></span>
                                        </span>
									</li>
                                <% end %>
							</ul>
						</li>
                    <% end %>
				</ul>
			</li>
        <% end %>
	</ul>
</div>
