#columnNav
	%ul
		%li.container.departments_container
			%ul.departments
				- @data.departments.each do |department|
					%li.department
						= department.title
						%ul
							%li.container.courses_container
								%ul.courses
									- department.courses.each do |course|
										%li.course
											= course.title
											%ul 
												%li.container.sections_container
													%ul.sections
														- course.sections.each do |section|
															%li.section{ "rel" => section.crn }
																= section.instructor
																%br
																
																- section.times.each do |time|
																	%span.time-wrapper
																		- if time.tba == true
																			%span.time Time TBA
																		- else 
																			%span.days
																				= time.prettyDays
																			%span.time
																				= time.prettyTime
%a.cancel{"href" => "#"} Cancel
