<div>
<ul class="departments">
	<% @data.departments.each do |department| %>
	<li class = "department <%= department.title %>">
		<a href="#"><%= department.title %></a>
			<ul class = "courses" >
				<% department.courses.each do |course| %>
				<li class= "course <%= course.title %>">
					<a href="#"><%= course.title %></a>
					<ul class="sections <%= course.title %>">
					<% course.sections.each do |section| %>
						<li class="section">
							<a href="#"><%= section.section %></a>
						</li>
					<% end %>
					</ul>
				</li>
			 <% end %>
			</ul>
		</li>
	<% end %>
</ul>
</div>
