#columnNav
	%ul
		%li.container.departments_container
			%ul.departments
				- @data.departments.each do |department|
					%li.department
						= department.title
						%ul
							%li.container.courses_container
								%ul.courses
									- department.courses.each do |course|
										%li.course
											= course.courseNumber
											 
											= course.title

											%ul 
												%li.container.sections_container
													%ul.sections
														- course.sections.each do |section|
															%li.section{ "rel" => section.crn }
																.instructor
																	= section.instructor
																- section.times.each do |time|
																	- if time.tba == true
																		.time Time TBA
																	- else 
																		%span.days
																			= time.prettyDays
																		%span.time
																			= time.prettyTime
																%button.req +
																%button.opt +

														%li.description
															<span class="dept">
															= course.department
															= course.courseNumber
															</span>
															<span class="colon">:</span><br />
															<span class="course">
															= course.title
															</span>
															.divider_h
															%p
																= course.description
