#columnNav
	%ul
		%li.container.departments_container
			%ul.departments
				- @data.departments.each do |department|
					%li.department
						= department.title
						%ul
							%li.container.courses_container
								%ul.courses
									- department.courses.each do |course|
										%li.course
											= course.courseNumber
											 
											= course.title

											%ul 
												%li.container.sections_container
													%ul.sections
														%li.title
															<span class="dept">
															= course.department
															= course.courseNumber
															</span>
															
															<span class="colon">:</span><br />
															<span class="course">
															= course.title
															</span>
															.divider_h

														%li.description
															%p
																= course.description
															
															%p
																= course.credits
																credits.
															
																

														- course.sections.each do |section|
															%li.section{ "rel" => section.crn }
																.instructor
																	= section.instructor
																- section.times.each do |time|
																	- if time.tba == true
																		.time Time TBA
																	- else 
																		%span.days
																			= time.prettyDays
																		%span.time
																			= time.prettyTime
																%button.req +
																%button.opt +

																.students
																	#{section.actual}/#{section.capacity}
																	%progress{"max" => section.capacity, "value" => section.actual }
																		#{section.actual}/#{section.capacity} students in class.
																- if false
																	- if session[:logged_in]
																		- if $redis.sismember("user:#{@email}:subscriptions", section.crn)
																			<a class='unsubscribe-button' href="/user/subscriptions/remove?crn=#{section.crn}&redirect=false">unsubscribe</a>
																		- else
																			<a class='subscribe-button' href="/user/subscriptions/add?crn=#{section.crn}&redirect=false">subscribe</a> for updates.

														
