


<div id="sliders">
    <input type='text' id='departments-search' size='6' />
    <input type='text' id='courses-search' size='40' />
	<ul class="departments">
		<% @data.departments.each do |department| %>

			<li class = "department <%= department.title %>">
				<a  class = "department-title"><%= department.title %></a>

				<ul class = "courses" >

					<% department.courses.each do |course| %>

						<li class= "course <%= course.title %>">

							<%= course.courseNumber %>

							<a  class = "course-title"><%= course.title %></a>

							<ul class="sections">

								<% course.sections.each do |section| %>

									<li class="section" rel='<%= section.crn %>'>
										<% if section.time.tba == true %>
											<span class='time'>Time TBA</span>
										<% else %>
											<span class='days'><%= section.time.prettyDays %></span>: <span class='time'><%= section.time.prettyTime %></span>
										<% end %>

										<br/><span class='instructor'><%= section.instructor %></span>
										<a href='#'>
											<%= section.crn %>
										</a>
									</li>

								<% end %>
							</ul>
						</li>
				 	<% end %>
				</ul>
			</li>
		<% end %>
	</ul>
</div>
