<% @scheduler.schedules.each_with_index do |schedule, schedule_index| %>


<div class='schedule'>
	<h3>Schedule <%= schedule_index + 1 %></h3>

	<% schedule.each do |section| %>
		<% section = [section] if section.kind_of?(Array) == false %>
		<% if section.kind_of? Array %>
			<% if section.length > 1 %>
				<div class='options'>
			<% end %>

				<% section.each_with_index do |option, i| %>
					<p>
        					<span class='course-title'>• <%= option.title %></span><br/><span class='days'><%= option.time.prettyDays %>:</span><span class='time'> <%= option.time.prettyTime %></span>

						<%= option.crn %>
					</p>
				<% end %>

			<% if section.length > 1 %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
<% end %>
