<% @scheduler.schedules.each_with_index do |schedule, schedule_index| %>


<div class='schedule'>
	<h3>Schedule <%= schedule_index + 1 %></h3>

    <ol>
	<% schedule.each do |section| %
        <% section = [section] if section.kind_of?(Array) == false %>
        <li class='course-title'><%= section[0].title %></li>
            <ul>
            <% if section.kind_of? Array %>
                <% if section.length > 1 %>
                    <div class='options'>
                <% end %>
                    <% section.each_with_index do |option, i| %>
                            <li class='section'>
                                <span class='days'><%= option.time.prettyDays %>:</span><span class='time'> <%= option.time.prettyTime %></span><span class='crn'>CRN: <%= option.crn %></span>
                            </li>
                    <% end %>
                <% if section.length > 1 %>
                    </div>
            <% end %>
		<% end %>
        </ul>
	<% end %>
</div>
<% end %>
