<% @scheduler.schedules.each_with_index do |schedule, schedule_index| %>

<div id='schedule_intro'>
    <p>Based on your courses you have selected, the schedules available to choose from are listed below.
    <p>All of the available sections for a given course are listed beneath it for your convenience.
</div>

<div class='schedule'>
	<h3>Schedule <%= schedule_index + 1 %></h3>

    <ol>
	<% schedule.each do |section| %>
		<%
		if section.kind_of?(Array) == false
        		section = [section] if section.kind_of?(Array) == false
        end%>
        	<li class='course-title'><%= section[0].title %></li>
            	<table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Professor</th>
                            <th>Number of Credits</th>
                            <th>CRN</th>
                        <tr>
                        <tr>
                    </thread>
                    <tfoot>
                        <tr>
                        <tr>
                    </tfoot>
                    
                    <tbody>
                    <% if section.length > 1 %>
                        <tr class='options'>
                    <% end %>

                    <% section.each_with_index do |option, i| %>
                        <tr class='section'>
                            <td class='days'><span><%= option.time.prettyDays %></td>
                            <td class='time'><%= option.time.prettyTime %></td>
                            <td class='professor'></td>
                            <td class='credits'></td>
                            <td class='crn'><%= option.crn %></td>
                        </tr>
                    <% end %>

                    <% if section.length > 1 %>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
        <% end %>
</div>
<% end %>

<div class='back_button'>
    <a href='#'>Back to Top</a>
</div>