<% @scheduler.schedules.each_with_index do |schedule, schedule_index| %>
<div class='schedule'>
	<h3>Schedule <%= schedule_index + 1 %></h3>

	<% schedule.each do |section| %>
		<% if section.kind_of? Array %>
			<div class='options'>
				<% section.each_with_index do |option, i| %>
					<p>
        					<span class='course-title'>• <%= option.title %></span><br/><span class='days'><%= option.time.prettyDays %>:</span><span class='time'> <%= option.time.prettyTime %></span>

						<%= option.crn %>
					</p>
				<% end %>
			</div>
		<% else %>
			<p>
        			<span class='course-title'>• <%= section.title %></span><br/><span class='days'><%= section.time.prettyDays %>:</span><span class='time'> <%= section.time.prettyTime %></span>

				<%= section.crn %>
			</p>
		<% end %>
	<% end %>
</div>
<% end %>
